#account-details {
    padding-bottom: 5rem;
    
    .container {
        justify-content: center;
        gap: 4rem;
        padding-top: 4rem;
        display: flex;
        

        .content-left {
            max-width: 318px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;    
            
            .avatar {
                position: relative;

                img {
                    display: block;
                }

                a {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: white;
                    border: 1px $gray-300 solid;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    i {
                        color: $gray-800;
                        margin: 0 auto;
                    }
                }
            }
            
            .account-info {
                padding-top: 1rem;

                h5 {
                    margin: 0;
                }

                p {
                  color: $gray-700;  
                }
            }

            .btn-theme-s,
            .sign-out {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                a {
                    display: flex;
                    align-items: center;
                    
                }
            }
        }

        .content-right {
            max-width: 856px;
            border-left: 1px solid $gray-300;
            padding-left: 5rem;

            h5 {
                color: $theme;

            }

            .top-form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 1.5rem;

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        @include standard-label;
                    }

                    input {
                        width: 416px;
                        border: 1px solid $gray-400;
                        padding: 1rem;
                        border-radius: 8px;
                        height: 52px;
                    }
                }
            }

            .text-area {
                padding-top: 2rem;
                
                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        @include standard-label;

                        span {
                           color: $gray-600; 
                        }
                    }

                    textarea {
                        width: 856px;
                        border: 1px solid $gray-400;
                        padding: 1rem;
                        border-radius: 8px;
                        
                    }

                    
                }
            }

            .buttons {
                padding-top: 2rem;
                display: flex;
                gap: 1rem;
                border-bottom: 1px $gray-300 solid;
                padding-bottom: 2rem;
                width: 100%;
            }

            .bottom-form {
                display: flex;
                flex-direction: column;
                
                h5 {
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                }

                .bottom-form-address {
                    gap: 1.5rem;

                    form {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 1.5rem;

                        label {
                            @include standard-label;
                        }

                        input {
                            width: 856px;
                            border: 1px solid $gray-400;
                            padding: 1rem;
                            border-radius: 8px;
                            height: 52px; 
                        }
                    }
                }

                .postal-city {
                    display: flex;
                    gap: 1.5rem;

                    form {
                        display: flex;
                        flex-direction: column;

                        label {
                            @include standard-label;
                        }

                        input {
                            width: 416px;
                            border: 1px solid $gray-400;
                            padding: 1rem;
                            border-radius: 8px;
                            height: 52px;
                        }
                    }
                }

                .buttons {
                    border: none;
                }
            }
            
        }
    }
}