#search {
    margin-top: 2rem;

    .container {
        

        .breadCrumbs {
            display: flex;
            align-items: center;
            gap: 1rem;

            i {
                width: 13.5px;
                height: 15px;
                color: $gray-600;
            }

            .fa-chevrons-right {
                font-size: 12px;
                padding-top: .1rem;
            }

            a {
                color: $gray-600;

            }

            .current {
                color: $theme;
            } 
        }

        .headingSearch {
            display: flex;
            padding-top: 2rem;
            align-items: center;
            justify-content: space-between;

            .searchAndDropdown {
                display: flex;
                align-items: center;
                gap: 2rem;

                .categoryDropdown {
                    position: relative;
                    display: inline-block;

                    .categoryOptions {
                        width: 240px;
                        height: 44px;
                        padding-left: 1rem;
                        border: solid 1px $gray-400;
                        border-radius: 5px;
                        -webkit-appearance: none; 
                        -moz-appearance: none; 
                        appearance: none;
                        
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        right: 1rem;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }
            }
            .search-box {
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                input {
                    border: $gray-400 solid 1px;
                    width: 240px;
                    height: 44px;
                    padding: 1rem;
                    flex-grow: 2;
                    border-radius: 5px;

                    &::placeholder {
                        @include text-s;
                        color: $gray-500;
                    }

                    &:focus {
                        outline: none;
                        border: 1px $theme solid;
                    }
                }
                
                i {
                    justify-content: flex-end;
                    position: absolute;
                    padding-right: 1rem;
                }
                

            }
        }
    }
}